body{
    margin: 10px;
    padding: 10px;
    background-image: url(apply.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.applicationbox{
    width: 340px;
    height: 420px;
    color: #fff;
    top: 5%;
    right: 35%;
   position: absolute;
    transform: translate(-50%,-50%)
    box-sizing: border-box;
    padding: 100px 40px;
}
h2{
    margin: 0;
    padding: 0 0 20px;
    font-size: bold;
    color: white;
    
}
.applicationbox p{
    margin:0;
    padding: 0;
    font-weight: bold;
}
.applicationbox input{
    width: 100%;
    margin-bottom: 20px;
}
.applicationbox input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.applicationbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color:blue;
    font-size: 18px;
    border-radius: 20px;
    margin: 40px;
}
.applicationbox input[type="submit"]:hover{
    cursor: pointer;
    background: black;
    color: white;

}
.applicationbox input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    
}
.applicationbox input[type="file"]{
    border: none;
    outline: none;
    height: 40px;
    background: sky blue;
    color:white;
    font-size: 18px;
    border-radius: 20px;
    margin: 20px;
    padding: 0;
    
}